body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 40px;
    background-image: url("file:///C:/Users/hilmer_gutierrez/Downloads/cafeteria.jpg");
    background-size: 100%;
    background-position: center;
}


nav{
    background-color: #f5751f;
    padding: 10px;
}

nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;

}

nav a:hover{
    text-decoration: underline;

}

h1{
    color: #6b4226;

}

footer{

    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#f5751f;
    color:white;
    text-align: center;
    padding: 10px;
}

